footer.footer
	.footer-detail__container
		p.footer__detail
			|Valid html5, design and code by
			a(href="http://www.marijazaric.com") &nbsp;marija zaric -creative simplicity
	.footer-copyright__container
		p.footer__copyright  © 2011 Think Simple
