.site-container
  .site-pusher
    header.header
      a#header__icon.header__icon(href='#')
      a.header__logo(href='#')
        img.logo-img(src="image/logo.png")
      nav.menu
        a.nav__item.active(href='#')
          span.nav__item--text Home
        a.nav__item(href='#')
          span.nav__item--text About Us
        a.nav__item(href='#')
          span.nav__item--text Services
        a.nav__item(href='#')
          span.nav__item--text Portfolio
        a.nav__item(href='#')
          span.nav__item--text News
        a.nav__item(href='#')
          span.nav__item--text Contact
