+box({
  title: 'Gallery'
})
.slider.slider-for
  li
    img.img--responsive(src='image/picture1.jpg')
  li
    img.img--responsive(src='image/picture2.jpg')
  li
    img.img--responsive(src='image/picture3.jpg')
  
.slider.slider-nav
  li
    img.img--responsive(src='image/picture1.jpg')
  li
    img.img--responsive(src='image/picture2.jpg')
  li
    img.img--responsive(src='image/picture3.jpg')