
/* VARIABLES */
$header-bg: transparent;
$menu-width: 250px!default;

a,.nav__item {
  text-decoration: none;
  color: $black;
  font-family: $default-font-family;
  font-size: $font-size-small;
}
/* HEADER */
.header {
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  color: #fff;
  background-color: $header-bg;
}
.header__logo {
  font-weight: 700;
  padding: 0 25px;
  float: left;
}
/* MENU */
.menu {
  float: right;
  @include media(desktop){
    margin: 25px 0;
  }
  .nav__item {
    padding: 0 10px;
    margin: 0 15px;
  }
  .nav__item:hover {
    color: $gray;
  }
  .active {
    background-color: $color-primary;
    color: $white;
    padding: 15px;
    border-radius: 8px;
  }
  .active:hover {
    color: $white;
  }
}
/* RESPONSIVE */
// @media only screen and (max-width: 768px) {
@include media(all-phones) {
  .site-pusher,
  .site-container {
    height: 100%;
  }
  .site-container {
    overflow: hidden;
  }
  .site-pusher {
    @include transition-duration(0.3s);
    @include transform(translateX(0px));
  }
  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .header {
    position: static;
  }
  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 1rem;
      height: 0;
      top: 16px;
      left: 15px;
      box-shadow: 0 10px 0 1px #000, 0 16px 0 1px #000, 0 22px 0 1px #000;
    }
  }
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: darken($header-bg, 5);
    width: $menu-width;
    @include transform(translateX($menu-width * -1));
    .nav__item {
      display: block;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-bottom: 1px solid $header-bg;
    }
  }
  .with--sidebar {
    .site-pusher {
      @include transform(translateX($menu-width));
    }
    .site-cache {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.6);
    }
  }
}
