body {
  background-image:url(../image/bg.png);
  font-family: $default-font-family;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px
}
p {
	font-size: $font-size-xtiny;
}
.row.horizontal-separator {
	margin-top: 15px;
  margin-bottom: 20px;
}

