$default-font-family:  Arial, Helvetica, sans-serif;

/* font-size
// ==========================================================================
*/
$font-size-xtiny: 13px !default;
$font-size-tiny: 14px !default;
$font-size-xsmall: 17px !default;
$font-size-small: 20px !default;
$font-size-medium: 28px !default;
$font-size-large: 32px !default;
$font-size-xtra-large: 60px !default;

/* 3. font-weight
// ==========================================================================
// */
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: bold;
//
// /* 3. font line height
// // ==========================================================================
// */
// $font-leading-light: 20px;
// $font-leading-normal: 24px;
// $font-leading-medium: 26px;
// $font-leading-medium: 26px;
// $font-leading-large: 34px;
